.git
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
secret
src/genMeta/runs
src/libraryOptimizer/runs
src/libraryOptimizer/artifacts
src/promptOptimizer/runs
src/promptOptimizer/artifacts
**/*.md~
**/*~
.idea
corelog.txt~
