secret/
.idea/
src/genMeta/runs/*
!src/genMeta/runs/.gitkeep
src/libraryOptimizer/artifacts/*
!src/libraryOptimizer/artifacts/.gitkeep
!src/libraryOptimizer/runs/.gitkeep
.env
.env.*
.env~
*~
*.log
!.env.example
